
.nav{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom right, #0b2627, #fff0f9);
    margin: 0;
    padding: 0;
}
.nav ul{
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
}
.nav li{
    float: left;
    list-style: none;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.nav li:hover{
    background-color: cornflowerblue;
    border-radius: 5px;
}
.content{
    width: 100%;
    height: 100%;
}
.content td{
    text-align: center;
    width: 100px;
    height: 50px;
}
.content th{
    text-align: center;
    width: 100px;
    height: 50px;
    color: white;
}
table{
    color: white;
}
#add{
    width: 100%;
    height: 100%;
}
.add p{
    margin: 50px 0 30px 0;
    padding: 0;
    color: white;
}
.add{
    margin: 0 auto;
    padding: 0;
    width: 300px;
    height: 400px;
    text-align: center;
}
.add label{
    width: 50px;
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}
.add button{
    background-image: linear-gradient(to bottom right, rgba(60, 255, 220, 0.67), #ffa4e2);
    width: 290px;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
}
.add button:hover{
    background-image: linear-gradient(to bottom right, rgba(79, 186, 255, 0.67), #ff5edf);;
}
.add input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}