body{
    margin: 0;
    width: 100%;
    height: 800px;
}
.header{
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to bottom right, #18fff7, #ffaec4);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.content{
    width: 100%;
    height: 80%;
    display: flex;
}
#left_nav{
    width: 10%;
    height: 100%;
    background-image: linear-gradient(rgba(8, 11, 16, 0.88), #e9c6ff);
}
#left_nav ul{
    padding-inline-start: 0;
}
#left_nav li{
    list-style: none;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-left: 8px;
    line-height: 50px;
    text-align: center;
    border-bottom: 2px solid black;
}
#left_nav li:hover{
    background-color: #184242;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
#right_con{
    width: 90%;
    height: 100%;
}
#index_img{
    width: 100%;
    height: 100%;
}
.foo{
    height: 10%;
    width: 100%;
    background-image: linear-gradient(to bottom right, #18fff7, #ffaec4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.foo p{
    margin: 0;
    padding: 0;
    font-size: 15px;
}